[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-community = "*"
langgraph = "*"
python-dotenv = "*"
black = "*"
langgraph-checkpoint-sqlite = "*"

[dev-packages]

[requires]
python_version = "3.11"
