[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
langchain = "*"
langgraph = "*"
langchainhub = "*"
langchain-community = "*"
tavily-python = "*"
langchain-chroma = "*"
python-dotenv = "*"
pytest = "*"
langchain-aws = "*"
langchain-tavily = "*"

[dev-packages]

[requires]
python_version = "3.11"
